<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>GABBI</title>
<!--    <script src='https://cdn.jsdelivr.net/npm/disable-devtool'></script>-->
<!--    <script>-->
<!--        DisableDevtool({-->
<!--            ondevtoolopen: (type) => {-->
<!--                const info = 'devtool opened!; type =' + type + ',' +-->
<!--                    ' please open your javascript setting and close this devtool. &#45;&#45;Proleesh';-->
<!--                console.warn(info);-->
<!--                alert('경고！ 개발자 도구 열림. 당신은 devtool에 방문할 권한이 없습니다. 빨리 닫으세요!');-->
<!--            },-->
<!--        })-->
<!--    </script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<div layout:fragment="content" class="content">

</div>
<div th:replace="fragments/footer::footer"></div>

</body>
</html>