<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${videoTitle}"></title>
</head>
<div layout:fragment="content">
    <div class="container">
        <br>
        <h1 class="my-4" th:text="${videoTitle}">WATCH</h1>
        <hr>
        <div class="ratio ratio-16x9">
            <video playsinline controls>
                <source th:src="@{${videoUrl}}" type="video/mp4" />
            </video>
        </div>
        <hr>
        <h4 th:text="'아티스트: ' + ${videoAuthor}"></h4>
        <div class="text-muted mb-2"
             th:text="|등록시간: ${#temporals.format(videoDate, 'yyyy년MM월dd일 HH시mm분ss초')}|"></div>

        <form th:action="@{/watch/delete/{id}(id=${videoId})}" method="post" onsubmit="return confirm('정말로 삭제할까요?');">
            <button type="submit" class="btn btn-danger mt-3" sec:authorize="isAuthenticated()">삭제</button>
        <a class="btn btn-secondary mt-3" href="/watch">돌아가기</a>
        </form>
    </div>
</div>

</html>