<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content">
    <div class="container">
        <h1 class="my-4">GABBI Flex</h1>
        <hr>
        <div class="mt-3" th:if="${message}">
            <div class="alert alert-info" th:text="${message}"></div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" th:each="video : ${videos}">
                <a th:href="@{/watch/{filename}(filename=${video.fileName})}" th:text="${video.title}">Video</a>
                <p th:text="'Artist: ' + ${video.author}"></p>
                <div class="text-muted fst-italic mb-2"
                     th:text="|발표시간 ${#temporals.format(video.registerTime, 'yyyy-MM-dd HH:mm')}|"></div>
            </li>
        </ul>

        <div class="mt-3">
            <a class="btn btn-primary btn-lg" href="/upload" sec:authorize="isAuthenticated()">새로운 동영상 업로드</a>
        </div>


        <!--        <div class="ratio ratio-16x9">-->
        <!--            <iframe th:src="@{${videoUrl}}" title="Video" allowfullscreen></iframe>-->
        <!--        </div>-->
    </div>
</div>
</html>