<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="content">
    <div class="container">
        <br>
        <h1 class="my-4"><img th:src="@{/img/video.png}" width="50" height="50">&nbsp;WATCH</h1>
        <hr>

        <div class="mt-3">
            <a class="btn btn-primary btn-lg" href="/upload" sec:authorize="isAuthenticated()">새로운 동영상 업로드</a>
        </div>
        <br>
        <div class="mt-3" th:if="${message}">
            <div class="alert alert-info" th:text="${message}"></div>
        </div>
        <ul class="list-group">
            <li class="list-group-item mb-3" th:each="video : ${videos}">
                <div class="row">
                    <div class="col-md-5">
                        <a th:href="@{/watch/{filename}(filename=${video.fileName})}">
                            <video width="300" height="200" th:src="@{/videos/{filename}(filename=${video.fileName})}"
                                   title="Video" autoplay loop muted playsinline>
                            </video>
                        </a></div>
                    <div class="col-md-5">
                        <br>
                        <h3><a th:href="@{/watch/{filename}(filename=${video.fileName})}" th:text="${video.title}"></a></h3>
                        <h4 th:text="'Artist: ' + ${video.author}"></h4>
                    </div>
                        <div class="text-muted fst-italic mb-2"
                             th:text="|발표시간 ${#temporals.format(video.registerTime, 'yyyy-MM-dd HH:mm')}|"></div>
                </div>
            </li>
        </ul>

    </div>
</div>
</html>