<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${videoTitle}"></title>
    <link rel="stylesheet" th:href="@{/css/plyr.css}"/>
    <link rel="stylesheet" th:href="@{/css/watch.css}"/>
    <script th:src="@{/js/plyr.polyfilled.js}"></script>

</head>
<div layout:fragment="content">
    <div class="container">
        <br>
        <h1 class="my-4" th:text="${videoTitle}">WATCH</h1>
        <form th:action="@{/watch/delete/{id}(id=${videoId})}" method="post"
              onsubmit="return confirm('정말로 삭제할까요?');">
            <button type="submit" class="btn btn-danger" sec:authorize="isAuthenticated()">삭제</button>
        </form>
        <hr>
        <div class="card">
            <video class="player" style="--plyr-color-main: #FAFF00;" playsinline controls data-plyr-config='{ "quality": {
             "default": 1080, "options": [360, 720, 1080, 2160] } }'>
                <source th:src="@{${videoUrl}}" type="video/mp4" size="2160"/>
                <source th:src="@{${videoUrl}}" type="video/mp4" size="1080"/>
                <source th:src="@{${videoUrl}}" type="video/mp4" size="720"/>
                <source th:src="@{${videoUrl}}" type="video/mp4" size="360"/>
                <source th:src="@{${videoUrl}}" type="video/mkv" size="2160"/>
                <source th:src="@{${videoUrl}}" type="video/mkv" size="1080"/>
                <source th:src="@{${videoUrl}}" type="video/mkv" size="720"/>
                <source th:src="@{${videoUrl}}" type="video/mkv" size="360"/>
            </video>
        </div>
        <hr>
        <h4 th:text="'아티스트: ' + ${videoAuthor}"></h4>
        <div class="text-muted mb-2" sec:authorize="isAuthenticated()"
             th:text="|등록시간: ${#temporals.format(videoDate, 'yyyy년MM월dd일 HH시mm분ss초')}|"></div>


        <div>
            <a href="/watch">
                <button class="learn-more">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
                    <span class="button-text">돌아가기</span>
                </button>
            </a>
        </div>


        <br>
        <h2><img th:src="@{/img/comment.png}" width="25" height="25">&nbsp;댓글</h2>
        <!-- 댓글 Form -->
        <div>
            <textarea class="form-control" id="new-comment-content" rows="3" placeholder="댓글을 입력하세요..."></textarea>
            <input type="hidden" id="video-name" th:value="${videoTitle}">
            <button type="button" class="btn btn-light mt-2" id="submit-comment-btn">
                <img th:src="@{/img/comment.png}" width="15" height="15">&nbsp;댓글 달기
            </button>
        </div>
        <br>

        <br>
        <div class="list-group-item">
            <div th:each="videoComment : ${videoComments}">
                <div class="comment" th:attr="data-comment-id=${videoComment.id}">
                    <p><img th:src="@{/img/comment.png}" width="15" height="15">&nbsp;<strong
                            th:text="${videoComment.author}"></strong> <span th:text="${videoComment.content}"></span>
                    </p>
                    <p class="text-muted" sec:authorize="isAuthenticated()"
                       th:text="|댓글시간: ${#temporals.format(videoComment.registerTime, 'yyyy년MM월dd일 HH시mm분')}|"></p>
                    <button type="button" class="btn btn-link reply-btn" sec:authorize="isAuthenticated()">답글</button>

                    <!-- 답글 Form -->
                    <div class="reply-form" style="display: none;">
                        <textarea class="form-control reply-content" rows="2" placeholder="답글을 입력하세요..."></textarea>
                        <br>
                        <button type="button" class="btn btn-light submit-reply-btn"><img th:src="@{/img/reply.png}"
                                                                                          width="15" height="15">&nbsp;답글
                            달기
                        </button>
                    </div>

                    <!-- 답글 -->
                    <div class="replies" th:each="reply : ${videoComment.videoReplies}">
                        <div class="reply" th:attr="data-reply-id=${reply.id}">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img th:src="@{/img/reply.png}" width="15"
                                                                              height="15">&nbsp;<strong
                                    th:text="${reply.author}"></strong> <span th:text="${reply.content}"></span></p>
                            <p class="text-muted" sec:authorize="isAuthenticated()"
                               th:text="|답글시간: ${#temporals.format(reply.registerTime, 'yyyy년MM월dd일 HH시mm분')}|"></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>


    <script th:src="@{/js/watch.js}"></script>
</div>

</html>