<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>GABBI WATCH</title>
    <link rel="stylesheet" th:href="@{/css/watch.css}">

    <script>
        const startVideo = async() => {
            const video = document.getElementById("videoPlay");
            try {
                await video.play();

                video.setAttribute('autoplay', true);

                console.log('video started playing successfully');
            } catch (err) {
                console.log(err, 'video play error');
                // do stuff in case your video is unavailable to play/autoplay
            }
        }
        setTimeout(startVideo, 3000)
    </script>

</head>
<div layout:fragment="content">
    <div class="container">
        <br>
        <h1 class="my-6"><img th:src="@{/img/video.png}" width="50" height="50">&nbsp;WATCH</h1>
        <hr>

        <div class="mt-3">
            <a class="btn btn-light btn-lg" href="/watch/upload" sec:authorize="isAuthenticated()">새로운 동영상 업로드</a>
        </div>
        <br>
        <div class="mt-3" th:if="${message}">
            <div class="alert alert-info" th:text="${message}"></div>
        </div>


        <section class="main-container">
            <div th:each="video : ${videos}">
                <hr>
                <div class="box row-gap-5">
                    <a class="col" th:href="@{/watch/{filename}(filename=${video.fileName})}">
                        <video id="videoPlay" style="width: 100%; height: auto"
                               th:src="@{/videos/{filename}#t=5(filename=${video.fileName})}"
                               title="Video" preload="metadata" muted>
                        </video>

                    </a>
                    <div class="col">
                    <p class="card-title" th:text="${video.title}"></p>
                    </div>
                    <div class="col">
                    <p class="card-subtitle mb-2 text-muted" th:text="'아티스트: ' + ${video.author}"></p>
                    </div>
                    <div class="col">
                    <p class="card-text text-muted mb-2"
                       th:text="|등록시간 ${#temporals.format(video.registerTime, 'yyyy년MM월dd일 HH시mm분ss초')}|"></p>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</html>