<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${goods.goodsName}"></title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>


<div layout:fragment="content" style="margin-left:5%; margin-right: 5%">
    <br>
    <br>
    <input type="hidden" id="goodsId" th:value="${goods.id}">
    <div class="d-flex flex-column flex-md-row mb-3 row">
        <div class="col-md-6">
            <img style="max-width: 100%; max-height: 100%" th:src="${goods.goodsImgDTOList[0].imgUrl}"
                 class="rounded" th:alt="${goods.goodsName}">
        </div>
        <div class="col-md-6">
            <span th:if="${goods.goodsSellStatus.toString().equals('SELL')}" class="badge bg-primary mgb-15">판매중</span>
            <span th:if="${goods.goodsSellStatus.toString().equals('SOLD_OUT')}"
                  class="badge bg-danger mgb-15">품절</span>
            <div class="h4" th:text="${goods.goodsName}"></div>
            <hr class="my-4">
            <div class="text-right">
                <div class="h4 text-danger text-start">
                    <input type="hidden" th:value="${goods.goodsPrice}" id="price" name="goodsPrice">
                    <span th:text="${goods.goodsPrice}"></span>원
                </div>
                <div class="input-group w-50 mgb-15">
                    <div class="input-group-prepend">
                        <span class="input-group-text">수량</span>
                    </div>
                    <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                </div>
            </div>
            <hr class="my-4">
            <div class="text-end mgt-50">
                <h5>결제 금액</h5>
                <h3 name="totalPrice" id="totalPrice" class="fw-bold"></h3>
            </div>
            <div th:if="${goods.goodsSellStatus.toString().equals('SELL')}" class="text-end">
                <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
            </div>
            <div th:unless="${goods.goodsSellStatus.toString().equals('SELL')}" class="text-end">
                <button type="button" class="btn btn-danger btn-lg">품절</button>
            </div>
        </div>
    </div>
    <div class="mgt-30 p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container">
            <h4 class="display-5">상품 상세 설명</h4>
            <hr class="my-4">
            <p class="lead" th:text="${goods.goodsDetail}"></p>
        </div>
    </div>
    <br>
    <div th:each="goodsImg : ${goods.goodsImgDTOList}" class="text-center mgb-15">
        <img th:if="${not #strings.isEmpty(goodsImg.imgUrl)}"
             th:src="${goodsImg.imgUrl}" class="rounded" style="max-width: 800px; width: 100%;">
    </div>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(() => {
                calculateTotalPrice();

                $("#count").change(() => {
                    calculateTotalPrice();
                });

            });

            const calculateTotalPrice = () => {
                let count = $("#count").val();
                let price = $("#price").val();
                let totalPrice = price * count;
                $("#totalPrice").html(totalPrice + '원');
            }

            const order = () => {
                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");

                let url = "/order";
                let paramData = {
                    goodsId: $("#goodsId").val(),
                    count: $("#count").val()
                };

                let param = JSON.stringify(paramData);

                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: "application/json",
                    data: param,
                    beforeSend: xhr => {
                        xhr.setRequestHeader(header, token);
                    },
                    dataType: "json",
                    cache: false,
                    success: (result, status) => {
                        alert("주문이 완료 되었습니다.");
                        location.href = '/';
                    },
                    error: function (jqXHR, status, error) {
                        if (jqXHR.status === '401') {
                            alert("로그인 후 이용해주세요")
                            location.href = '/members/login';
                        } else {
                            alert(jqXHR.responseText)
                        }
                    }
                })
            }

            const addCart = () => {
                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");

                let url = "/cart";
                let paramData = {
                    goodsId: $("#goodsId").val(),
                    count: $("#count").val()
                };
                let param = JSON.stringify(paramData);

                $.ajax({
                    url : url,
                    type : "POST",
                    contentType : "application/json",
                    data : param,
                    beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf 값을 설정 */
                    xhr.setRequestHeader(header, token);
                    },
                    dataType : "json",
                    cache : false,
                    success : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                    },
                    error : function(jqXHR, status, error) {

                        if (jqXHR.status === '401') {
                            alert('로그인 후 이용해주세요');
                            location.href = '/members/login';
                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                })
            }
        </script>
    </th:block>
</div>

</html>