<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WATCH 시청자 수</title>
    <script th:src="@{/js/d3.v7.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/d3view.css}">
</head>
<body>
<div layout:fragment="content">
    <br>
    <h1><img th:src="@{/img/statistics.png}"
             width="50" height="50">&nbsp;WATCH 시청자 수</h1>
    <hr>
    <div id="chart" style="width: 100%; height: 400px;" sec:authorize="hasRole('ROLE_ADMIN')"></div>
    <script th:src="@{/js/d3view.js}" sec:authorize="hasRole('ROLE_ADMIN')">
    </script>
</div>
</body>
</html>
