<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="footer">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">GABBI</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/admin/goods/new"
                                                                      class="nav-link px-2 text-body-secondary">상품
                등록</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/admin/goodsAll"
                                                                      class="nav-link px-2 text-body-secondary">상품
                관리</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/qna-all" class="nav-link px-2 text-body-secondary">Q&A</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">
            <a href="https://github.com" target="_blank"><img th:src="@{/img/github.png}" alt="icon" width="50"
                                                              height="50"/></a>
            <a href="https://getbootstrap.com/" target="_blank"><img th:src="@{/img/bootstrap.png}" alt="icon"
                                                                     width="60" height="50"/></a>
            <a href="https://spring.io" target="_blank"><img th:src="@{/img/spring.png}" alt="icon" width="50"
                                                             height="50"/></a>
            <a href="https://spring.io/projects/spring-security" target="_blank"><img th:src="@{/img/spring-security.svg}" alt="icon"
                                                                     width=auto height="50"/></a>
            <a href="https://www.thymeleaf.org/" target="_blank"><img th:src="@{/img/thymeleaf.png}" alt="icon"
                                                                      width=auto height="50"/></a>
            <a href="https://www.oracle.com/java/" target="_blank"><img th:src="@{/img/java-icon.svg}" alt="icon"
                                                                        width="50" height="50"/></a>
            <a href="https://www.mysql.com/" target="_blank"><img th:src="@{/img/mysql-icon.svg}" alt="icon" width="50"
                                                                  height="50"/></a>
            <a href="https://www.flaticon.com/" target="_blank"><img th:src="@{/img/flaticon.png}" alt="icon"
                                                                     width=auto height="50"/></a>
        </p>

        <p class="text-center text-body-secondary">Tel: +82 010-9482-6726 | Email: merci726@yahoo.com</p>
        <p class="text-center text-body-secondary">Copyright &copy; 2024 GABBI All rights reserved.</p>
        <hr>
        <p class="text-lg-center text-body-tertiary">Designed by Sung-Hyuk Lee, Developed by Sung-Hyuk Lee</p>
        <p class="text-lg-center text-body-tertiary">Made by <a
                href="https://github.com/proleesh" target="_blank">Proleesh</a>. Capstone Design projects for Graduation.</p>
    </footer>
</div>
</body>
</html>