<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #faff00">
        <div class="container-fluid">
            <a href="/"><img th:src="@{/img/gabbi.png}" alt="Logo" width="40" height="40"
                             class="d-inline-block align-text-top"></a>
            &nbsp;
            <a sec:authorize="hasRole('ROLE_USER')" class="navbar-brand" href="/"><img th:src="@{/img/font/gabbi-font.png}" alt="Logo" width="100"
                                                  height="35" class="d-inline-block align-text-top">&nbsp;with your
                life</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-brand" href="/"><img th:src="@{/img/font/gabbi-font.png}" alt="Logo" width="100"
                                                                                       height="35" class="d-inline-block align-text-top">&nbsp;ADMIN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="true">
                            <img th:src="@{/img/certificate.png}" width="25" height="25">&nbsp;라이센스
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/about"><img th:src="@{/img/about.png}" width="25"
                                                                            height="25">&nbsp;About</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="true">
                            <img th:src="@{/img/manager.png}" width="25" height="25">&nbsp;관리자용
                        </a>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" href="/admin/goods/new"><img th:src="@{/img/new-goods.png}"
                                                                                      width="25" height="25">&nbsp;상품 등록</a>
                            </li>
                            <li><a class="dropdown-item" href="/admin/goodsAll"><img th:src="@{/img/shop-manage.png}"
                                                                                     width="25" height="25">&nbsp;상품 관리</a>
                            </li>
                            <li><a class="dropdown-item" href="/d3view"><img th:src="@{/img/statistics.png}"
                                                                                     width="25" height="25">&nbsp;WATCH 시청자 수</a>
                            </li>
                            <li><a class="dropdown-item" href="/members/membersCount"><img th:src="@{/img/statistics.png}"
                                                                             width="25" height="25">&nbsp;총 가입자 수</a>
                            </li>
                        </ul>
                    </li>

                </ul>

                &nbsp;
                <ul class="navbar-nav mb-5 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/watch/upload" sec:authorize="isAuthenticated()"><img th:src="@{/img/video-upload.png}"
                                                                      width="25" height="25">&nbsp;WATCH
                            업로드</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/watch"><img th:src="@{/img/video.png}" width="25" height="25">&nbsp;WATCH</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qna-all" sec:authorize="isAuthenticated()"><img
                                th:src="@{/img/qna.png}" width="25" height="25">&nbsp;Q&A
                            자유 게시판</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/chat"><img th:src="@{/img/chat.png}" width="25" height="25">&nbsp;CHAT</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/news"><img th:src="@{/img/news.png}" width="25" height="25"> 뉴스 검색</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/cart"><img th:src="@{/img/shopping-cart.png}" width="25" height="25">&nbsp;장바구니</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/orders"><img th:src="@{/img/shopping-history.png}" width="25"
                                                                height="25">&nbsp;구매이력</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/members/login">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/members/logout">로그아웃</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>
</html>