<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>WATCH 업로드</title>
    <link rel="stylesheet" th:href="@{/css/upload.css}">
</head>
<div layout:fragment="content">
    <div class="container">
        <br>
        <h1 class="my-4"><img th:src="@{/img/video-upload.png}" width="50" height="50">&nbsp;WATCH 업로드</h1>
        <hr>
        <form method="POST" enctype="multipart/form-data" action="/watch/upload" sec:authorize="isAuthenticated()">
            <div class="input-group mb-3">
                <input type="file" name="file" class="form-control" id="file" required>
                <label class="input-group-text" for="file">동영상</label>
            </div>
            <button type="submit" class="shadow__btn w-100">업로드</button>
        </form>
        <a href="/watch">
            <button class="learn-more w-100">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
                <span class="button-text">돌아가기</span>
            </button>
        </a>


        <div class="mt-3" th:if="${message}">
            <div class="alert alert-info" th:text="${message}"></div>
        </div>

        <p sec:authorize="isAuthenticated()">
            로컬 저장소에 접근할 수 있으니 정보를 탈취할 행위가 없으므로 걱정할 필요 없습니다.
        </p>
        <p sec:authorize="isAuthenticated()">
            포맷 형식: 아티스트 네임_제목 artist name_title
        </p>
        <p sec:authorize="isAuthenticated()">
            경고: 이모티콘이나 []등 부호는 아직까지 지원하지 않음! 추후에 지원할 예정!
        </p>
    </div>
</div>
</html>