<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>About</title>
</head>
<div layout:fragment="content">
    <br>
    <div class="container">
        <h1><img th:src="@{/img/about.png}" width="50" height="50">&nbsp;About</h1>
        <p>
            미래의 CTO이자 훌륭한 개발자인 이성혁(Proleesh)의 졸업 작품입니다.
            이 프로젝트는 시간과 노력을 아낌없이 투자해 완성한 결과물로, 그의 열정과 헌신이 담겨 있습니다.
            이 작품은 단순한 제품이 아니라, 마음을 다해 만든 결과물입니다.
        </p>
        <hr>
        <h2>전용 소프트웨어 라이선스</h2>
        <p>저작권 &copy; 2024 Proleesh. 모든 권리 보유.</p>
        <h2>1. 정의</h2>
        <p>본 라이선스에서:</p>
        <ul>**"소프트웨어"**는 Proleesh이 Spring Boot, Ollama3, Java, jQuery, JavaScript, Thymeleaf 및 QueryDSL을 기반으로 개발한 애플리케이션 및 관련 문서를 의미합니다.
        </ul>
        <ul>**"라이선스 소지자"**는 본 라이선스에 따라 소프트웨어 사용 권한을 부여받은 개인 또는 법인을 의미합니다.</ul>

        <h2>2. 허가</h2>
        <p>본 라이선스의 조항 및 조건을 준수하는 경우, Proleesh은 라이선스 소지자에게 내부 비즈니스 목적으로 소프트웨어에 접근하고 사용할 수 있는 비독점적, 양도 불가, 재허가 불가의 권리를 부여합니다.
        </p>

        <h2>3. 사용 제한</h2>
        <p>라이선스 소지자는 다음을 할 수 없습니다:</p>
        <ol>
            소프트웨어 또는 그 일부를 판매, 임대, 대여, 배포, 양도 또는 제3자에게 제공.
        </ol>
        <ol>
            소프트웨어의 소스 코드를 수정, 개조, 역설계, 디컴파일하거나 다른 방법으로 소스 코드를 얻으려고 시도.
        </ol>
        <ol>
            소프트웨어의 모든 소유권 고지, 라벨 또는 표시를 제거 또는 변경.
        </ol>

        <h2>4. 지적 재산권</h2>
        <p>소프트웨어 및 그 모든 지적 재산권(저작권, 특허, 상표 및 영업 비밀을 포함하나 이에 국한되지 않음)은 Proleesh의 소유입니다. 라이선스 소지자는 소프트웨어에 대한 소유권이나 권리를 주장할 수 없습니다.
        </p>

        <h2>5. 기밀 유지</h2>
        <p>라이선스 소지자는 소프트웨어 및 관련 정보(소스 코드, 문서 및 비즈니스 정보 포함)를 엄격히 비밀로 유지하며, Proleesh의 서면 동의 없이 제3자에게 공개하지 않습니다.</p>

        <h2>6. 보증의 부인</h2>
        <p>소프트웨어는 “있는 그대로” 제공되며, Proleesh은 소프트웨어의 성능, 신뢰성 또는 특정 목적 적합성에 대해 명시적이거나 묵시적인 보증을 하지 않습니다. 소프트웨어 사용 또는 사용 불능으로 인해 발생하는 어떠한 손실이나 손해에 대해서도 Proleesh은 책임을 지지 않습니다.</p>

        <h2>7. 책임 제한</h2>
        <p>어떠한 경우에도 Proleesh은 본 라이선스 또는 소프트웨어 사용으로 인해 발생하는 간접적, 부수적, 특별, 징벌적 또는 결과적 손해에 대해 책임을 지지 않으며, Proleesh이 이러한 손해의 가능성을 알고 있었다 하더라도 책임이 없습니다.</p>

        <h2>8. 기간 및 종료</h2>
        <p>본 라이선스는 라이선스 소지자가 수락한 날로부터 효력이 발생하며, 종료될 때까지 유효합니다. 라이선스 소지자가 본 라이선스의 조건을 위반하는 경우, Proleesh은 즉시 본 라이선스를 종료할 수 있습니다. 종료 시, 라이선스 소지자는 소프트웨어 사용을 중지하고 모든 소프트웨어 사본을 파기해야 합니다.</p>

        <h2>9. 준거법</h2>
        <p>본 라이선스는 [국가/지역] 법률의 지배를 받으며, 그에 따라 해석됩니다. 법률 충돌 원칙은 적용되지 않습니다.</p>

        <h2>10. 전체 계약</h2>
        <p>본 라이선스는 소프트웨어 라이선스에 관한 양 당사자 간의 전체 계약을 구성하며, 이전 또는 동시의 모든 구두 또는 서면 계약, 양해각서 및 통신을 대체합니다.</p>
    </div>
</div>
</div>
</html>