<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${qna.qnaTitle}"></title>
    <link rel="stylesheet" th:href="@{/css/qna-del.css}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<div layout:fragment="content">
    <div class="container">
        <br>
        <h1>등록 글 상세보기</h1>
        <hr/>
        <div class="row" sec:authorize="isAuthenticated()">
            <div>
                <article>
                    <input type="hidden" id="qna-id" th:value="${qna.id}">
                    <div class="col">
                        <a href="/qna-all">
                            <button class="learn-more">
  <span class="circle" aria-hidden="true">
  <span class="icon arrow"></span>
  </span>
                                <span class="button-text">돌아가기</span>
                            </button>
                        </a>
                    </div>
                    <header>
                        <h1 class="fw-bolder mg-1" th:text="${qna.qnaTitle}"></h1>
                        <p th:text="|작성자: ${qna.qnaAuthor}|"></p>
                        <div class="text-muted mb-2"
                             th:text="|발표시간: ${#temporals.format(qna.qnaRegTime, 'yyyy년MM월dd일 HH시mm분')}|"></div>
                    </header>
                    <br>
                    <section>
                        <p class="fs-5 mb-5" th:text="${qna.qnaContent}"></p>
                    </section>
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" id="modify-btn"
                                    th:onclick="|location.href='@{/new-qna?id={qnaId}(qnaId=${qna.id})}'|"
                                    th:if="${canEdit}"

                                    class="button">
<!--                                sec:authorize="${hasAuthority('ROLE_USER') or (qna.qnaAuthor == principal.username)}"-->
                                수정
                                <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                                    <path clip-rule="evenodd"
                                          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                                          fill-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="delete-btn" class="comic-button"
                                    sec:authorize="${hasAuthority('ROLE_ADMIN')}">
                                삭제
                            </button>
                        </div>

                    </div>

                </article>
            </div>
        </div>
        <br>
        <h2><img th:src="@{/img/comment.png}" width="25" height="25" alt="comment_logo">&nbsp;댓글</h2>
        <!-- 댓글 Form -->
        <div>
            <h3>댓글 작성</h3>
            <label for="new-comment-content"></label><textarea class="form-control" id="new-comment-content" rows="3"
                                                               placeholder="댓글을 입력하세요..."></textarea>
            <button type="button" class="btn btn-light mt-2" id="submit-comment-btn"><img th:src="@{/img/comment.png}"
                                                                                          width="15" height="15">&nbsp;댓글 달기
            </button>
        </div>
        <br>

        <br>
        <div class="list-group-item">
            <div th:each="comment : ${comments}">


                <div class="comment" th:attr="data-comment-id=${comment.id}">


                    <p><img th:src="@{/img/comment.png}" width="15" height="15" alt="comment_logo">&nbsp;<strong
                            th:text="${comment.author}"></strong> <span th:text="${comment.content}"></span></p>
                    <p class="text-muted"
                       th:text="|댓글시간: ${#temporals.format(comment.registerTime, 'yyyy년MM월dd일 HH시mm분')}|"></p>
                    <button type="button" class="btn btn-link reply-btn" sec:authorize="isAuthenticated()">답글</button>

                    <!-- 답글 Form -->
                    <div class="reply-form" style="display: none;">
                        <label>
                            <textarea class="form-control reply-content" rows="2" placeholder="답글을 입력하세요..."></textarea>
                        </label>
                        <br>
                        <button type="button" class="btn btn-light submit-reply-btn"><img th:src="@{/img/reply.png}"
                                                                                          width="15" height="15">&nbsp;답글 달기
                        </button>
                    </div>


                    <!-- 답글 -->
                    <div class="replies" th:each="reply : ${comment.replies}">
                        <div class="reply" th:attr="data-reply-id=${reply.id}">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img th:src="@{/img/reply.png}" width="15"
                                                                              height="15" alt="reply_logo">&nbsp;<strong
                                    th:text="${reply.author}"></strong> <span th:text="${reply.content}"></span></p>
                            <p class="text-muted"
                               th:text="|답글시간: ${#temporals.format(comment.registerTime, 'yyyy년MM월dd일 HH시mm분')}|"></p>
                        </div>
                    </div>
                    <hr/>
                </div>


            </div>
        </div>
    </div>


    <script th:src="@{/js/qna.js}"></script>
</div>
</html>